@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

html {
	height: 100%;
}
body {
	height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
    padding: 50px;
}

p {
    margin: 0;
}


#main_box {
    width: 1080px;
    height: 900px;
    display: grid;
    grid-template-columns: 180px 900px;
    place-items: center;
    margin: 0 auto 30px auto;
}


#gathering {
    background-color: #277DFF;
}

.icon4 {
    fill: white;
}

#right {
    width: 900px;
    height: 900px;
    background-color: #D9D9D9;
    display: grid;
    grid-template-rows: 90px 810px;
    place-items: center;
    border-top: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;

}

#main_title {
    width: 900px;
    height: 90px;
    background-color: white;
    font-weight: bold;
    font-size: 13pt;
    padding: 30px 20px;
    border-right: 1px solid #cdcdcd;
}

#main_content{
    width: 770px;
    height: 700px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    display: grid;
    grid-template-rows: 120px 440px 70px 70px;
    place-items: center;
}

div#menu a:hover{
    transition: background 0.3s ease-in-out;
    background-color: #277DFF;
}

#sub_title {
    width: 770px;
    height: 120px;
    padding-top: 80px;
    padding-left: 40px;
}

#sub_title p{
    font-size: 11pt;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

#table {
    width: 770px;
    height: 440px;
    padding-left: 40px

}

.table1 {
    width: 690px;
}

.table_tr{
    background-color: #D1D1D1;
    text-align: center;
    height: 35px;
}

.table_tr_p {
    height: 20px;
    border-right: 1px solid #BBBBBB;
}

.table_tr2 {
    text-align: center;
    font-size: 10pt;
    height: 40px;
    border-bottom: 1px solid #D1D1D1;
}

.table_tr2 td a {
    color: black;
}

#search {
    width: 770px;
    height: 70px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#write_button {
    width: 100px;
    height: 30px;
    font-size: 10pt;
    font-weight: bold;
}

.gathering_info {
    width: 100px;
    height: 30px;
    padding: 0;
    font-size: 10pt;
}

#search_border {
    width: 270px;
    border: 2px solid black;
    border-radius: 5px;
}

#gathering_search {
    width: 240px;
    border: 0;
    outline: none;
    font-size: 10pt;
}

#search_border a {
    cursor: pointer;
}

.modal-dialog {
    width: 990px;
    height: 500px;
    max-width: 990px;
    max-height: 500px;
}

.modal-header {
    background-color: #F5F5F5;
}

.modal-title {
    font-family: 'Inter', sans-serif;
    font-size: 16pt;
    font-weight: bold;
}

.modal-body {
    padding-top: 60px;
}

.form-group {
    padding-left: 50px;
}

.gathering_body {
    width: 700px;
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px;
    place-items: center;
}

.modal_gathering_info {
    width: 700px;
    height: 100px;
    display: grid;
    grid-template-columns: 140px 560px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.gathering_delete_body {
    width: 700px;
    display: grid;
    grid-template-rows: 70px 70px 300px;
    place-items: center;
}

.modal_gathering_info2 {
    width: 700px;
    height: 70px;
    display: grid;
    grid-template-columns: 140px 560px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.modal_gathering_info3 {
    width: 700px;
    height: 300px;
    display: grid;
    grid-template-columns: 140px 560px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

#delete_reason {
    width: 560px;
    height: 300px;
    resize: none;
    border-radius: .25rem;
}

.modal_padding1 {
    padding-top: 5px;
    padding-left: 10px;
}

.modal_padding2 {
    padding-top: 5px;
    padding-left: 30px;
}

.modal_padding3 {
    padding-top: 5px;
    padding-left: 25px;
}

.modal_padding4 {
    padding-top: 5px;
    padding-left: 22px;
}

.modal_padding5 {
    padding-top: 5px;
    padding-left: 40px;
}

.modal_padding6 {
    padding-top: 5px;
}

.gathering_pic {
    margin-right: 590px;
}

.gathering_pic_body {
    width: 700px;
    height: 500px;
}

.btn-outline-danger {
    width: 160px;
    height: 30px;
    padding: 0;
    font-size: 10pt;
}

.padding-left {
    padding-left: 40px;
}

.padding-left2 {
    padding-left: 75px;
}