@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

html {
	height: 100%;
}
body {
	height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
    padding: 50px;
}

p {
    margin: 0;
}


#main_box {
    width: 1080px;
    height: 1300px;
    display: grid;
    grid-template-columns: 180px 900px;
    place-items: center;
    margin: 0 auto 30px auto;
}


#right {
    width: 900px;
    height: 1300px;
    background-color: #D9D9D9;
    display: grid;
    grid-template-rows: 90px 1210px;
    place-items: center;
    border-top: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;

}

#main_title {
    width: 900px;
    height: 90px;
    background-color: white;
    font-weight: bold;
    font-size: 13pt;
    padding: 30px 20px;
    border-right: 1px solid #cdcdcd;
}

#main_content{
    width: 770px;
    height: 1100px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    display: grid;
    grid-template-rows: 100px 940px 60px;
    place-items: center;
}



#top {
    width: 680px;
    height: 100px;
    padding-top: 60px;
    font-size: 15pt;
    font-family: bold;
    font-family: 'Inter', sans-serif;
    border-bottom: 1px solid #e9ecef;
}

#sub_title {
    width: 200px;
    height: 120px;
    padding-top: 80px;
    padding-left: 40px;
    font-size: 11pt;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

#middle {

}

.info_table{
    padding-left: 50px;
}

.table2 {
    width: 670px;
    text-align: center;
    border-top: 1px solid #B0B0B0;
    border-bottom: 1px solid #B0B0B0;
    border-right: 1px solid #D1D1D1;
}

.table2 td {
    vertical-align: middle;
    border-top: 1px solid #D1D1D1;
    padding: 0.75rem;
}

.table2_tr1 {
    height: 50px;
    border-bottom: 1px solid #D1D1D1;
}

.table2_tr2 {
    height: 50px;
    border-bottom: 1px solid #D1D1D1;
}

.table2_tr3 {
    height: 200px;
    border-bottom: 1px solid #D1D1D1;
}

.table2_tr4 {
    height: 50px;
}

.table2_q {
    background-color: #D9D9D9;
    font-size: 11pt;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.table2_a {
    font-size: 9pt;
    font-weight: bold;
    color: #7B7B7B;
    text-align: left;
}

.under_the_table {
    width: 670px;
    border: 1px solid #898989;
    margin: 30px 0px;
}

.inquiry_req {
    width: 700px;
    display: grid;
    grid-template-rows: 40px 60px 300px;
}

.inquiry_req_title {
    width: 700px;
    display: grid;
    grid-template-columns: 50px 650px;
    place-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.modal_small_title2 {
    font-family: 'Inter', sans-serif;
    font-size: 15pt;
    font-weight: bold;
}

.req_title {
    width: 600px;
    border: 1px solid #B0B0B0;
    padding-left: 10px;
    font-size: 12pt;
    font-weight: bold;

}

.inquiry_req_content {
    width: 700px;
    display: grid;
    grid-template-columns: 50px 650px;
    place-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.req_small_title {
    padding-bottom: 220px;
}

.req_content {
    width: 600px;
    height: 260px;
    border: 1px solid #B0B0B0;
    padding-left: 10px;
    white-space: pre-wrap;
    font-size: 15pt;
    font-weight: bold;
    color: #495057;
}

.btn-warning {
    color: white;
}

textarea {
    resize: none;
    border-radius: .25rem;
}

.btn {
    font-weight: bold;
}
