@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

#left {
    width: 180px;
    height: 900px;
    display: grid;
    grid-template-rows: 70px 70px 760px;
    place-items: center;
    background-color: #4A4A4A;
}

#logo strong {
    color : white;
    font-family: Arial, sans-serif;
    font-size: 17pt;
}

#logo span:nth-child(1){
    color: #0D6EFF;
}

#logo span:nth-child(2){
    color: #0D6EFF;
}

#logo span:nth-child(3){
    color: #0D6EFF;
}

#account{
    display: grid;
    grid-template-columns: 70px 110px;
    place-items: center;
}

#pic {

}

#nickname {
    font-size: 11pt;
    color: white;
    padding-right: 20px;
}

#pic_circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    padding: 9px 9px;
}

#pic_circle svg {
    width: 30px;
    height: 30px;
}

#menu {
    width: 180px;
    height: 760px;
    display: grid;
    grid-template-rows: 70px 70px 70px 70px 70px 140px 270px;
    place-items: center;
}


#menu_title {
    width: 150px;
    height: 70px;
    border-top: 1px solid #FFF3F3;
    margin-top: 10px;
}

#menu_title p {
    color: #757575;
    font-size: 11pt;
    font-weight: bold;
    padding-top: 15px;
}

#announcement a {
    width: 180px;
    height: 70px;
    display: grid;
    grid-template-columns: 50px 130px;
    place-items: center;
    text-decoration: none;
}

#faq a {
    width: 180px;
    height: 70px;
    display: grid;
    grid-template-columns: 50px 130px;
    place-items: center;
    text-decoration: none;
}

#user a {
    width: 180px;
    height: 70px;
    display: grid;
    grid-template-columns: 50px 130px;
    place-items: center;
    text-decoration: none;
}

#gathering a {
    width: 180px;
    height: 70px;
    display: grid;
    grid-template-columns: 50px 130px;
    place-items: center;
    text-decoration: none;
}

#report {
    display: grid;
    grid-template-rows: 70px 70px;
    place-items: center;
}

#report a {
    text-decoration: none;
}

.report_a {
    width: 180px;
    height: 70px;
    display: grid;
    grid-template-columns: 50px 90px 40px;
    place-items: center;
    cursor: pointer;
}

.menu_font {
    width: 130px;
    height: 70px;
    padding-top: 25px;
    padding-right: 5px;
    color: white;
    font-weight:bold;
}

.menu_font2 {
    width: 90px;
    height: 70px;
    padding-top: 25px;
    padding-right: 5px;
    color: white;
    font-weight:bold;
}

.menu_hide {
    width: 180px;
    height: 70px;
    display: none;
    background-color: #727272;
    color: white;
    font-weight: bold;
}

.submenu_a {
     width: 180px;
    height: 70px;
    display: grid;
    grid-template-columns: 50px 130px;
    place-items: center;
}

a:hover {
    text-decoration-line: none;
}
