@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

html {
	height: 100%;
}
body {
	height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
    padding: 50px;
}

p {
    margin: 0;
}


#main_box {
    width: 1080px;
    height: 900px;
    display: grid;
    grid-template-columns: 180px 900px;
    place-items: center;
    margin: 0 auto 30px auto;
}


#report_post {
    background-color: #74C5FF;
}

.icon5 {
    fill: white;
}

.icon6 {
    fill: white;
}

.icon8 {
    fill: white;
}

#right {
    width: 900px;
    height: 900px;
    background-color: #D9D9D9;
    display: grid;
    grid-template-rows: 90px 810px;
    place-items: center;
    border-top: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;

}

#main_title {
    width: 900px;
    height: 90px;
    background-color: white;
    font-weight: bold;
    font-size: 13pt;
    padding: 30px 20px;
    border-right: 1px solid #cdcdcd;
}

#main_content{
    width: 770px;
    height: 700px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    display: grid;
    grid-template-rows: 120px 440px 140px;
    place-items: center;
}

#sub_title {
    width: 770px;
    height: 120px;
    padding-top: 80px;
    padding-left: 40px;
}

#sub_title p{
    font-size: 11pt;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

#info_table{
    width: 770px;
    height: 440px;
    padding-left: 40px;
}

.table {
    width: 700px;
    text-align: center;
    border-top: 1px solid #B0B0B0;
    border-bottom: 1px solid #B0B0B0;
    border-right: 1px solid #B0B0B0;
}

.table_tr1 {
    height: 50px;
    border-bottom: 1px solid #D1D1D1;
}

.table_tr2 {
    height: 50px;
    border-bottom: 1px solid #D1D1D1;
}

.table_tr3 {
    height: 130px;
    border-bottom: 1px solid #D1D1D1;
}

.table_tr4 {
    height: 160px;
    border-bottom: 1px solid #D1D1D1;
}

.table_tr5 {
    height: 50px;
}

.table_q {
    width: 140px;
    background-color: #D9D9D9;
    font-size: 11pt;
    font-weight: bold;
    font-family: 'Inter', sans-serif;

}

.table_a {
    font-size: 9pt;
    font-weight: bold;
    color: #7B7B7B;
    text-align: left;
}

.table td {
    vertical-align: middle;
    border-top: 1px solid #D1D1D1;
}

.buttons {
    width: 700px;
    display: grid;
    grid-template-columns: 480px 120px 100px;
    place-items: center;
    padding-left: 5px;
}

.report_a {
    background-color: rgb(39, 125, 255);
}

.icon5 {
    fill: white;
}

.icon6 {
    fill: white;
}

.enter{
    white-space: pre-wrap;
}

.info_btn {
    font-size: 10pt;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    width: 100px;
    height: 28px;
}

.btn_padding {
    padding-left: 380px;
}



