<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="profile/profilelayout">
<th:block layout:fragment="content">
    <div id="right">
        <div id="info1">
<!--            <div id="profileImg">-->
<!--                <div id="imgBox" style="margin:0 auto;">-->
<!--                </div>-->
<!--                <div class="col-sm-10 custom-file" style="margin:0 auto; display:flex;-->
<!--                justify-content:center; align-items:center; ">-->
<!--                    <input class="custom-file-input files" id="inputImage" type="file" style="display:none;">-->
<!--                    <label for="inputImage" style="border:1px solid #ccc; border-radius:10px; padding: 5px;">프로필사진 등록</label>-->
<!--                </div>-->
<!--            </div>-->
            <div id="nickname">
                <p style="margin-right: 5px;" th:if="${session.RuserId != null}"
                   th:text="${session.userNickname}"></p>
                <span style="color: #ccc;">님</span>
            </div>
        </div>

        <!--   프로필수정 모달창    -->
        <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editProfileModalLabel">프로필 수정</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- 수정할 프로필 정보를 입력하는 폼 -->
                        <form id="editProfileForm">
                            <div class="form-group">
                                <label for="newNickname">닉네임</label>
                                <input type="text" class="form-control" id="newNickname" required>
                            </div>
                            <div class="form-group">
                                <label for="newEmail">이메일</label>
                                <input type="text" class="form-control" id="newEmail" required>
                            </div>
                            <div class="form-group">
                                <label for="newPost">우편번호</label>
                                <input type="text" class="form-control" id="newPost" placeholder="우편번호" required>
                            </div>
                            <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
                            <div class="form-group">
                                <label for="newAddress">주소</label>
                                <input type="text" class="form-control" id="newAddress" placeholder="주소" required>
                            </div>
                            <div class="form-group">
                                <label for="newAddressDetail">상세주소</label>
                                <input type="text" class="form-control" id="newAddressDetail" placeholder="상세주소" required>
                            </div>
                            <div class="form-group">
                                <label for="sample6_extraAddress">참고항목</label>
                                <input type="text" class="form-control" id="sample6_extraAddress" placeholder="참고항목" required>
                            </div>

                            <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                            <script>
                                function sample6_execDaumPostcode() {
                                    new daum.Postcode({
                                        oncomplete: function(data) {
                                            var addr = ''; // 주소 변수
                                            var extraAddr = ''; // 참고항목 변수

                                            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                                                addr = data.roadAddress;
                                            } else { // 사용자가 지번 주소를 선택했을 경우(J)
                                                addr = data.jibunAddress;
                                            }

                                            if(data.userSelectedType === 'R'){

                                                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                                    extraAddr += data.bname;
                                                }

                                                if(data.buildingName !== '' && data.apartment === 'Y'){
                                                    extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                                }

                                                if(extraAddr !== ''){
                                                    extraAddr = ' (' + extraAddr + ')';
                                                }

                                                document.getElementById("sample6_extraAddress").value = extraAddr;

                                            } else {
                                                document.getElementById("sample6_extraAddress").value = '';
                                            }

                                            document.getElementById('newPost').value = data.zonecode;
                                            document.getElementById("newAddress").value = addr;
                                            document.getElementById("newAddressDetail").focus();
                                        }
                                    }).open();
                                }
                            </script>
                            <button type="submit" class="btn btn-primary">저장</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button> <!-- 수정된 부분 -->
                        </form>
                    </div>
                </div>
            </div>
        </div> <!--Modal End -->

        <div id="profileUpdateMessage" style="display: none;"></div>

        <div id="info2">
            <div><p>주소</p></div>
            <div>
                <div th:if="${session.userAddr != null}">
                    <p><span th:text="${session.userAddr}"></span> </p>
                    <p><span th:text="${session.userAddrDetail}"></span></p>
                    <p>우편번호 :<span th:text="${session.userPost}"></span></p>
                </div>
                <div th:if="${session.userAddr == null}">
                    <p>주소정보가 없습니다.<br> 프로필을 수정하여 주소를 입력해주세요</p>
                </div>
            </div>
        </div>

        <div id="info3">
            <div><p>이메일 주소</p></div>
            <div>
                <div th:if="${session.userEmail}">
                    <p th:text="${session.userEmail}"></p>
                </div>
            </div>
        </div>

        <div id="editBtn">
            <button class="btn btn-primary" id="editProfileBtn" style="margin-right:5px;">프로필 수정</button>
            <button class="btn btn-danger" type="button"><a href="/login/updatePwd" style="text-decoration: none; color: inherit;">비밀번호 변경</a></button>
        </div>

        <link th:href="@{/css/profile/profileMain.css}" rel="stylesheet" type="text/css"/>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
        <script>
$(document).ready(function(){

                var isClicked = false;

                $('div#article a').hover(function () {
                    if (!isClicked) {
                        $(this).css("background-color", "#277DFF");
                        $(this).css("transition", "background 0.3s ease-in-out");
                        $('.icon5').css("fill", "white");
                        $('.icon5').css("transition", "fill 0.3s ease-in-out");
                        $('.icon6').css("fill", "white");
                        $('.icon6').css("transition", "fill 0.3s ease-in-out");
                    }
                }, function () {
                    if (!isClicked) {
                        $(this).css("background-color", "#4A4A4A");
                        $(this).css("transition", "background 0.3s ease-in-out");
                        $('.icon5').css("fill", "#A6A6A6");
                        $('.icon5').css("transition", "fill 0.3s ease-in-out");
                        $('.icon6').css("fill", "#A6A6A6");
                        $('.icon6').css("transition", "fill 0.3s ease-in-out");
                    }
                });

                $("#article>a").click(function () {
                    var submenu = $(this).next("div");

                    if (submenu.is(":visible")) {
                        submenu.slideUp();
                        isClicked = false;
                        $(this).css("background-color", "#4A4A4A");
                        $(this).css("transition", "background 0.3s ease-in-out");
                        $('.icon5').css("fill", "#A6A6A6");
                        $('.icon5').css("transition", "fill 0.3s ease-in-out");
                        $('.icon6').css("fill", "#A6A6A6");
                        $('.icon6').css("transition", "fill 0.3s ease-in-out");

                        $("#cs").animate({marginTop: '140px'}, 500);
                    } else {
                        submenu.slideDown();
                        isClicked = true;
                        $(this).css("background-color", "#277DFF");
                        $(this).css("transition", "background 0.3s ease-in-out");
                        $('.icon5').css("fill", "white");
                        $('.icon5').css("transition", "fill 0.3s ease-in-out");
                        $('.icon6').css("fill", "white");
                        $('.icon6').css("transition", "fill 0.3s ease-in-out");

                        $("#cs").animate({marginTop: '420px'}, 500);
                    }
                });

                $('div#cs a').hover(function () {
                    if (!isClicked) {
                        $(this).css("background-color", "#277DFF");
                        $(this).css("transition", "background 0.3s ease-in-out");
                        $('.icon5').css("fill", "white");
                        $('.icon5').css("transition", "fill 0.3s ease-in-out");
                        $('.icon6').css("fill", "white");
                        $('.icon6').css("transition", "fill 0.3s ease-in-out");
                    }
                }, function () {
                    if (!isClicked) {
                        $(this).css("background-color", "#4A4A4A");
                        $(this).css("transition", "background 0.3s ease-in-out");
                        $('.icon5').css("fill", "#A6A6A6");
                        $('.icon5').css("transition", "fill 0.3s ease-in-out");
                        $('.icon6').css("fill", "#A6A6A6");
                        $('.icon6').css("transition", "fill 0.3s ease-in-out");
                    }
                });

                $("#cs>a").click(function () {
                    var submenu = $(this).next("div");

                    if (submenu.is(":visible")) {
                        submenu.slideUp();
                        isClicked = false;
                        $(this).css("background-color", "#4A4A4A");
                        $(this).css("transition", "background 0.3s ease-in-out");
                        $('.icon5').css("fill", "#A6A6A6");
                        $('.icon5').css("transition", "fill 0.3s ease-in-out");
                        $('.icon6').css("fill", "#A6A6A6");
                        $('.icon6').css("transition", "fill 0.3s ease-in-out");
                    } else {
                        submenu.slideDown();
                        isClicked = true;
                        $(this).css("background-color", "#277DFF");
                        $(this).css("transition", "background 0.3s ease-in-out");
                        $('.icon5').css("fill", "white");
                        $('.icon5').css("transition", "fill 0.3s ease-in-out");
                        $('.icon6').css("fill", "white");
                        $('.icon6').css("transition", "fill 0.3s ease-in-out");
                    }
                });


               $('div#profile a').hover(function(){
                    $(this).css("background-color", "#277DFF");
                    $(this).css("transition", "background 0.3s ease-in-out");
                    $('.icon1').css("fill", "white");
                    $('.icon1').css("transition", "fill 0.3s ease-in-out");
               }, function() {
                    $(this).css("background-color", "#4A4A4A");
                    $(this).css("transition", "background 0.3s ease-in-out");
                    $('.icon1').css("fill", "#A6A6A6");
                    $('.icon1').css("transition", "fill 0.3s ease-in-out");
               });

               $('div#likeclub a').hover(function(){
                    $(this).css("background-color", "#277DFF");
                    $(this).css("transition", "background 0.3s ease-in-out");
                    $('.icon2').css("fill", "white");
                    $('.icon2').css("transition", "fill 0.3s ease-in-out");
               }, function() {
                    $(this).css("background-color", "#4A4A4A");
                    $(this).css("transition", "background 0.3s ease-in-out");
                    $('.icon2').css("fill", "#A6A6A6");
                    $('.icon2').css("transition", "fill 0.3s ease-in-out");
               });

               $('div#myclub a').hover(function(){
                    $(this).css("background-color", "#277DFF");
                    $(this).css("transition", "background 0.3s ease-in-out");
                    $('.icon3').css("fill", "white");
                    $('.icon3').css("transition", "fill 0.3s ease-in-out");
               }, function() {
                    $(this).css("background-color", "#4A4A4A");
                    $(this).css("transition", "background 0.3s ease-in-out");
                    $('.icon3').css("fill", "#A6A6A6");
                    $('.icon3').css("transition", "fill 0.3s ease-in-out");
               });

               $('div#article_comment a').hover(function(){
                    $(this).css("background-color", "#74C5FF");
                    $(this).css("transition", "background 0.3s ease-in-out");
                    $('.icon7').css("fill", "white");
                    $('.icon7').css("transition", "fill 0.3s ease-in-out");
               }, function() {
                    $(this).css("background-color", "#727272");
                    $(this).css("transition", "background 0.3s ease-in-out");
                    $('.icon7').css("fill", "#D6D6D6");
                    $('.icon7').css("transition", "fill 0.3s ease-in-out");
               });

               $('div#article_post a').hover(function(){
                    $(this).css("background-color", "#74C5FF");
                    $(this).css("transition", "background 0.3s ease-in-out");
                    $('.icon8').css("fill", "white");
                    $('.icon8').css("transition", "fill 0.3s ease-in-out");
               }, function() {
                    $(this).css("background-color", "#727272");
                    $(this).css("transition", "background 0.3s ease-in-out");
                    $('.icon8').css("fill", "#D6D6D6");
                    $('.icon8').css("transition", "fill 0.3s ease-in-out");
               });

               $('div#cs_faq a').hover(function(){
                    $(this).css("background-color", "#74C5FF");
                    $(this).css("transition", "background 0.3s ease-in-out");
                    $('.icon7').css("fill", "white");
                    $('.icon7').css("transition", "fill 0.3s ease-in-out");
               }, function() {
                    $(this).css("background-color", "#727272");
                    $(this).css("transition", "background 0.3s ease-in-out");
                    $('.icon7').css("fill", "#D6D6D6");
                    $('.icon7').css("transition", "fill 0.3s ease-in-out");
               });

               $('div#cs_notice a').hover(function(){
                    $(this).css("background-color", "#74C5FF");
                    $(this).css("transition", "background 0.3s ease-in-out");
                    $('.icon8').css("fill", "white");
                    $('.icon8').css("transition", "fill 0.3s ease-in-out");
               }, function() {
                    $(this).css("background-color", "#727272");
                    $(this).css("transition", "background 0.3s ease-in-out");
                    $('.icon8').css("fill", "#D6D6D6");
                    $('.icon8').css("transition", "fill 0.3s ease-in-out");
               });

               $('div#cs_onetoone a').hover(function(){
                    $(this).css("background-color", "#74C5FF");
                    $(this).css("transition", "background 0.3s ease-in-out");
                    $('.icon8').css("fill", "white");
                    $('.icon8').css("transition", "fill 0.3s ease-in-out");
               }, function() {
                    $(this).css("background-color", "#727272");
                    $(this).css("transition", "background 0.3s ease-in-out");
                    $('.icon8').css("fill", "#D6D6D6");
                    $('.icon8').css("transition", "fill 0.3s ease-in-out");
               });


                   // 프로필 수정 버튼 클릭 시 모달 열기
                    $('#editProfileBtn').on('click', function () {
                        // 모달 열기 등의 동작 추가
                        $('#editProfileModal').modal('show');
                    });

                    // 프로필 수정 폼 제출 시
                    $('#editProfileForm').submit(function (e) {
                        e.preventDefault(); // 폼 제출 기본 동작 막기

                        // 수정할 정보 값 가져오기
                        var newNickname = $('#newNickname').val();
                        var newEmail = $('#newEmail').val();
                        var newAddress = $('#newAddress').val();
                        var newAddressDetail = $('#newAddressDetail').val();
                        var newPost = $('#newPost').val();

                         // AJAX를 사용하여 서버로 수정 요청 보내기
                        $.ajax({
                            type: 'POST',
                            url: '/profile/update',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                    nickname: newNickname,
                                    email: newEmail,
                                    addr: newAddress,
                                    addrDetail: newAddressDetail,
                                    post: newPost
                            }),
                            success: function (response) {
                                // 서버로부터 성공 응답을 받았을 때의 동작
                                console.log('프로필 수정이 성공적으로 완료되었습니다.');

                                // 성공 메시지를 동적으로 생성하여 출력
                                var successMessage = '<div class="alert alert-success" role="alert">' + response.message + '</div>';
                                $('#profileUpdateMessage').html(successMessage).fadeIn(500).delay(3000).fadeOut(500);

                                location.reload();
                            },
                            error: function (xhr, status, error) {
                                // 서버로부터 실패 응답
                                console.error('프로필 수정 중 에러 발생: ' + error);

                                // 실패 메시지를 동적으로 생성하여 출력
                                var errorMessage = '<div class="alert alert-danger" role="alert">프로필 수정 중 에러가 발생했습니다. 다시 시도해주세요.</div>';
                                $('#profileUpdateMessage').html(errorMessage).fadeIn(500).delay(3000).fadeOut(500);
                            }
                        });
                    });


    let regex = new RegExp("(.*?).(exe|sh|zip|alz|tiff)$");
    // 10 MB
    const maxSize = 10485760;

  // 파일 크기 및 확장자 검사
  function checkFile(fileName, fileSize) {
    if (fileSize >= maxSize) {
      alert("파일 사이즈 초과");
      return false;
    }
    if (regex.test(fileName)) {
      alert("해당 종류의 파일은 업로드 불가");
      return false;
    }
    return true;
  }

  // uploadResult class div에 업로드한 이미지 보여주기
  function showResult(uploadResultDTOList) {
    var uploadUL = $("#imgBox");

    var str = "";
    $(uploadResultDTOList).each(function (idx, uploadResultDTO) {
      str += "<img data-path='" + uploadResultDTO.folderPath + "' ";
      str += "data-uuid='" + uploadResultDTO.uuid + "' ";
      str += "data-name='" + uploadResultDTO.fileName + "' ";
      str += "src='/image/display?fileName=" + uploadResultDTO.thumbnailURL + "' ";
      str += "style='width: 100%; height: 100%;'>";

      str += "<button type='button' ";
      str += "data-file='" + uploadResultDTO.imageURL + "' ";
      str += "class ='btn-warning btn-sm'>";
      str += "삭제";
      str += "</button>";
    });
    uploadUL.append(str);
  }

  // 변화가 있을 때마다
  $(".custom-file-input").on("change", function () {
    var fileName = $(this).val().split("\\").pop();

    var formData = new FormData();
    var inputFile = $(this);
    var files = inputFile[0].files;
    var appended = false;

    for (var i = 0; i < files.length; i++) {
      if (!checkFile(files[i].name, files[i].size)) {
        return false;
      }

      formData.append("uploadFiles", files[i]);
      appended = true;
    }

    if (!appended) {
      return;
    }

    for (var value of formData.values()) {
      console.log(value);
    }

    $.ajax({
      url: "/image/upload/user/profile",
      processData: false,
      contentType: false,
      data: formData,
      type: "POST",
      dataType: "JSON",
      success: function (result) {
        console.log(result);
        showResult(result);
      },
      error: function (jqXHR, textStatus, errorThrown) {
        console.log(textStatus);
      },
    });
  });

  // 이미지 삭제 함수
  $(".uploadResult").on("click", "ul li button", function () {
    // 물리적인 폴더에서 이미지 삭제
    var targetFile = $(this).data("file");
    // 화면에서 이미지 삭제
    var targetLi = $(this).closest("li");

    $.ajax({
      url: "/image/delete",
      data: { fileName: targetFile },
      type: "POST",
      success: function (data, textStatus) {
        alert(textStatus);
        targetLi.remove();
      },
    });
  });

  // 클럽 생성 버튼을 눌렀을 때, 이미지를 업로드하기 위한 작업 후 submit 진행
  $(".submitBtn").on("click", function (event) {
    event.preventDefault();

    var str = "";
    $(".uploadResult li").each(function (idx, obj) {
      var target = $(obj);
      str += "<input type='hidden' ";
      str += "name='imageDTOList[" + idx + "].path' ";
      str += "value='" + target.data("path") + "'>";

      str += "<input type='hidden' ";
      str += "name='imageDTOList[" + idx + "].uuid' ";
      str += "value='" + target.data("uuid") + "'>";

      str += "<input type='hidden' ";
      str += "name='imageDTOList[" + idx + "].name' ";
      str += "value='" + target.data("name") + "'>";
    });
    $(".box").html(str);
    $("#clubForm").submit();
  });
}); <!--document Ready End-->

        </script>
    </div>
</th:block>
</html>