<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <footer style="width: 1080px; margin:0 auto">
        <div class="border-top border-secondary-subtle">
            <div class="d-flex justify-content-between" style="margin-top: 5rem;">
                <div class="mx-4">
                    <ul class="list-unstyled">
                        <li class="text-muted fw-bold">스윗어스</li>
                        <li class="fw-bold"><a class="text-decoration-none text-dark" style="font-size: 14px;" href="/board/announcement">공지사항</a></li>
                        <li class="fw-bold"><a class="text-decoration-none text-dark" style="font-size: 14px;" href="/board/inquiry">1:1 문의</a></li>
                        <li class="fw-bold"><a class="text-decoration-none text-dark" style="font-size: 14px;" href="/board/faq">FAQ</a></li>
                    </ul>
                </div>
                <div class="mx-4">
                    <p>
                        <a class="navbar-brand text-dark fw-bold fst-italic" href="/swithus/main"><span class="text-primary">S</span>port <span class="text-primary">W</span>ith <span class="text-primary">Us</span></a>
                    </p>
                    <p>
                        <small class="text-muted">대표:(주)운동하는 친구들 &#124; 대표번호: 02-111-1234</small>
                    </p>
                    <p>
                        <small class="text-muted">주소:서울시 마포구 신촌로 128</small>
                    </p>
                    <p>
                        <small class="text-muted">이용약관 &#124; 개인정보처리방침 &#124; 고객센터</small>
                    </p>
                </div>

            </div>
        </div>
    </footer>
</th:block>
</html>