<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
  <style>
    .px-5 {
      padding-left: 5rem !important;
    }
  </style>
  <header class="container mx-auto mb-5">
    <nav class="navbar d-flex justify-content-between navbar-light bg-white border-bottom border-primary p-3">
      <a class="navbar-brand text-dark fw-bold fst-italic" href="/swithus/main"><span class="text-primary">S</span>port
        <span class="text-primary">W</span>ith <span class="text-primary">Us</span></a>
      <form class="d-flex" style="width: 40%;">
        <div class="d-flex border border-primary rounded" style="width: 100%;">
          <input aria-label="Search" class="form-control border-0 mr-2" placeholder="검색어를 입력해주세요" style="font-size: 14px;"
                 type="search">
          <button class="btn border-0 bg-white" type="submit"><i class="fi fi-rr-search /board/announcementtext-primary"></i></button>
        </div>
      </form>
      <div class="dropdown">
        <a aria-disabled="true" class="nav-link p-0" data-bs-toggle="dropdown" href="#" tabindex="-1">
          <i class="d-flex justify-content-center fi fi-rr-user text-primary " style="width: 20px; height: 20px;"></i>
        </a>
        <ul class="dropdown-menu" style="min-width: 85px;">
          <li>
            <button class="dropdown-item fw-bold" onclick="location.href='/profile/main'" style="font-size: 12px"
                    type="button">프로필
            </button>
          </li>
          <li>
            <button class="dropdown-item fw-bold" onclick="location.href='/register/main'" style="font-size: 12px"
                    type="button">회원가입
            </button>
          </li>
          <li th:if="${session.RuserId == null}">
            <button class="dropdown-item fw-bold" onclick="location.href='/login/login'" style="font-size: 12px"
                    type="button">로그인
            </button>
          </li>
          <li th:if="${session.RuserId != null}">
            <button class="dropdown-item fw-bold" onclick="location.href='/login/logout'" style="font-size: 12px" type="button">로그아웃</button>
          </li>
          <li th:if="${session.userId == 1}">
            <button class="dropdown-item fw-bold" onclick="location.href='/manager/main'" style="font-size: 12px" type="button">관리자 페이지</button>
          </li>
        </ul>
        <p class="mb-0 d-flex justify-content-center" style="font-size: 12px; font-weight: bold"><small>My</small></p>
      </div>
    </nav>
    <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom border-secondary-subtle">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav fw-bold">
            <button aria-controls="collapseExample" aria-expanded="false"
                    class="btn d-flex flex-row align-items-center justify-content-between" data-bs-target="#collapseExample" data-bs-toggle="collapse"
                    type="button">
              <i class="fi fi-rr-menu-burger"></i>
            </button>
            <a aria-current="page" class="nav-link active text-dark" href="/club/search">카테고리</a>
            <a class="nav-link px-5 text-dark" href="/board/announcement">게시판</a>
            <a class="nav-link px-5 text-dark" href="/club/search">클럽</a>
            <a class="nav-link px-5 text-dark" href="#">스포츠 잇템</a>
            <a class="nav-link px-5 text-dark" href="/board/inquiry">고객 문의</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="collapse" id="collapseExample">
      <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom border-secondary-subtle">
        <div class="container-fluid" style="text-align: center;">
          <div class="collapse navbar-collapse">
            <div class="navbar-nav">
              <ul style="padding-left: 3rem;">
                <li class="list-unstyled py-1"><a class="text-decoration-none text-dark"
                                                  th:href="@{/club/search(sportsId=1)}">축구</a></li>
                <li class="list-unstyled py-1"><a class="text-decoration-none text-dark"
                                                  th:href="@{/club/search(sportsId=2)}">농구</a></li>
                <li class="list-unstyled py-1"><a class="text-decoration-none text-dark"
                                                  th:href="@{/club/search(sportsId=3)}">야구</a></li>
                <li class="list-unstyled py-1"><a class="text-decoration-none text-dark"
                                                  th:href="@{/club/search(sportsId=4)}">배드민턴</a></li>
                <li class="list-unstyled py-1"><a class="text-decoration-none text-dark"
                                                  th:href="@{/club/search(sportsId=5)}">탁구</a></li>
              </ul>
              <ul style="padding-left: 3.6rem;">
                <li class="list-unstyled py-1"><a class="text-decoration-none text-dark" href="/board/announcement">공지사항</a></li>
                <li class="list-unstyled py-1"><a class="text-decoration-none text-dark" href="/board/promotion">홍보 게시판</a></li>
                <li class="list-unstyled py-1"><a class="text-decoration-none text-dark" href="#">대회모집 게시판</a></li>
                <li class="list-unstyled py-1"><a class="text-decoration-none text-dark" href="/board/faq">FAQ</a></li>
              </ul>
              <ul style="padding-left: 4.6rem;">
                <li class="list-unstyled py-1"><a class="text-decoration-none text-dark" href="/club/search">클럽 검색</a>
                </li>
              </ul>
              <ul style="padding-left: 7.6rem;">
                <li class="list-unstyled py-1"><a class="text-decoration-none text-dark" href="#">나눔해요</a></li>
                <li class="list-unstyled py-1"><a class="text-decoration-none text-dark" href="#">같이써요</a></li>
              </ul>
              <ul style="padding-left: 9rem;">
                <li class="list-unstyled py-1"><a class="text-decoration-none text-dark" href="/board/inquiry">1:1 문의</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
</th:block>
</html>