<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebarFragment">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-white border-end border-secondary-subtle" style="width: 180px; height: 600px;">
        <ul class="nav nav-pills flex-column mb-auto" style="margin-top: 150px;">
            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">프로필</a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">게시글관리</a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">찜한 클럽</a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">클럽 관리</a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">고객센터</a>
            </li>
        </ul>
    </div>
</th:block>
</html>