<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">


<th:block layout:fragment="content">
    <div style="display:flex; width: 1080px; margin:0 auto; padding: 90px 0px;">
        <nav class="nav flex-column" style="width: 25%; height: 500px; background-color: #727272">
            <a style="color:white; margin: 10px auto;" class="nav-link" href="/profile">프로필 관리</a>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button style="background-color: #727272; color: white; border: 1px solid #727272" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        게시글 관리
                    </button>
                </h2>
                <div style="background-color: #727272; color: white; margin: 0 auto; height: 40px;" id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <button style="all:unset; color: white; cursor:pointer;" type="button" onclick="location.href='/list/myarticle'">내가 작성한 게시글</button>
                    <button style="all:unset; color: white; cursor:pointer;" type="button" onclick="location.href='/list/mycomment'">내가 작성한 댓글</button>
                </div>
            </div>
            <a style="color:white; margin: 10px auto;" class="nav-link" href="/list/mylikelist">찜 목록</a>
            <a style="color:white; margin: 10px auto;" class="nav-link" href="/list/mygatheringlist">소모임 관리</a>
            <a style="color:white; margin: 10px auto;" class="nav-link" href="#">고객센터</a>
        </nav>

            <div style="display: inline-block; margin-left: 30px;">
                <h2 style="font-weight: bold;">작성한 글</h2>
                <div class="container" style="margin:0 auto; justify-content: center; width: 850px">
                    <table class="table">
                        <thead style="background-color: #828282">
                        <tr>
                            <th scope="col">제목</th>
                            <th scope="col">장소</th>
                            <th scope="col">날짜</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>6:6 풋살 하실분 저녁에 간단하게 풋살하실분~</td>
                            <td>신촌 아트리온 CGV 옥상 풋살파크</td>
                            <td>2024/01/31</td>
                        </tr>
                        <tr>
                            <td>수영 중급반 같이 가실분 구합니다</td>
                            <td>서울 올림픽경기장 수영장</td>
                            <td>2024/02/21</td>
                        </tr>
                        <tr>
                            <td>배드민턴 팟 구함</td>
                            <td>인천 계양 배드민턴장</td>
                            <td>2024/02/28</td>
                        </tr>
                        </tbody>
                    </table>

                    <nav aria-label="...">
                        <ul class="pagination" style="margin: 0 auto; justify-content: center">
                            <li class="page-item disabled">
                                <a class="page-link">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>

    </div>

</th:block>
</html>

