<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">


<th:block layout:fragment="content">
    <div style="display:flex; width: 1080px; margin:0 auto; padding: 90px 0px;">
        <nav class="nav flex-column" style="width: 25%; height: 900px; background-color: #727272">
            <a style="color:white; margin: 10px auto;" class="nav-link" href="/profile">프로필 관리</a>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button style="background-color: #727272; color: white; border: 1px solid #727272" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        게시글 관리
                    </button>
                </h2>
                <div style="background-color: #727272; color: white" id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <a style="color:white; margin: 0 auto; text-decoration-line: none;" class="accordion-body" href="/list/myarticle">내가 작성한 게시글</a>
                    <a style="color:white; margin: 0 auto; text-decoration-line: none;" class="accordion-body" href="/list/mycomment">내가 작성한 댓글</a>
                </div>
            </div>
            <a style="color:white; margin: 10px auto;" class="nav-link" href="/list/mylikelist">찜 목록</a>
            <a style="color:white; margin: 10px auto;" class="nav-link" href="/list/mygatheringlist">소모임 관리</a>
            <a style="color:white; margin: 10px auto;" class="nav-link" href="#">고객센터</a>
        </nav>

        <div class="container">

            <div style="width: 100%; margin-left: 2%" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div style="display:flex; justify-content:center; align-items: center; height: 50px; gap: 10px">
                            <button type="button" style="margin: 10px;color:white; background-color: #0D6EFF;width: 150px" class="btn btn-sm btn-outline-secondary">모임 톡 바로가기</button>
                            <small class="text-body-secondary"><img style="width: 20px; height: 20px;" src="/images/fullheart.png"></small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div style="display:flex; justify-content:center; align-items: center; height: 50px; gap: 10px">
                            <button type="button" style="margin: 10px;color:white; background-color: #0D6EFF;width: 150px" class="btn btn-sm btn-outline-secondary">모임 톡 바로가기</button>
                            <small class="text-body-secondary"><img style="width: 20px; height: 20px;" src="/images/emptyheart.png"></small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div style="display:flex; justify-content:center; align-items: center; height: 50px; gap: 10px">
                            <button type="button" style="margin: 10px;color:white; background-color: #0D6EFF;width: 150px" class="btn btn-sm btn-outline-secondary">모임 톡 바로가기</button>
                            <small class="text-body-secondary"><img style="width: 20px; height: 20px;" src="/images/fullheart.png"></small>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div style="display:flex; justify-content:center; align-items: center; height: 50px; gap: 10px">
                            <button type="button" style="margin: 10px;color:white; background-color: #0D6EFF;width: 150px" class="btn btn-sm btn-outline-secondary">모임 톡 바로가기</button>
                            <small class="text-body-secondary"><img style="width: 20px; height: 20px;" src="/images/emptyheart.png"></small>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</th:block>
</html>