<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="container mb-4" th:fragment="nav">
  <div class="d-flex justify-content-between align-items-center p-1 mb-3">
    <div>
      <a id="clubName" th:href="@{/club/main}">
        <h1>
          [${dto.name}]
        </h1>
      </a>
      <div>
        [${dto.headline}]
      </div>
    </div>

    <div class="d-flex justify-content-end align-items-center"><!--th:if="${session.userId == dto.leaderId}"-->
      <a class="link btn btn-secondary" th:href="@{/club/leader/main}">
        클럽 관리
      </a>
    </div>
    <div class="d-flex justify-content-end align-items-center"><!--th:if="${session.userId != dto.leaderId}"-->
      <div class="p-1">
        <a class="link btn btn-primary" th:href="@{/club/inquiry}">1대1 문의</a>
      </div>
      <div class="p-1">
        <a class="link btn btn-success" th:href="@{/club/register}">가입 신청</a>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <ul class="nav nav-justified border-bottom mb-3 clubNav">
      <li class="nav-item">
        <a class="nav-link clubNavLink" th:href="@{/club/greetings}">가입인사</a>
      </li>
      <li class="nav-item">
        <a class="nav-link clubNavLink" th:href="@{/club/member}">명단</a>
      </li>
      <li class="nav-item">
        <a class="nav-link clubNavLink" th:href="@{/club/calendar}">달력</a>
      </li>
      <li class="nav-item">
        <a class="nav-link clubNavLink" th:href="@{/club/meeting}">일정</a>
      </li>
      <li class="nav-item">
        <a class="nav-link clubNavLink" th:href="@{/club/board}">게시글</a>
      </li>
    </ul>
  </div>

</div>

</html>