<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="container mb-3" th:fragment="nav">
  <div class="row mb-3 align-items-center">
    <h1><a class="link  mr-3" href="/club/main">클럽명 넣기</a></h1>
    <a class="link btn mr-3" href="#">1대1 문의</a>
    <a class="link btn mr-3" href="#">가입 신청</a>
    <a class="link btn mr-3" href="/club/leader/main">클럽 관리</a>
  </div>

  <ul class="nav nav-justified">
    <li class="nav-item">
      <a class="nav-link" href="#">가입인사</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">명단</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">달력</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">일정</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">게시글</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">사진첩</a>
    </li>
  </ul>
</div>

</html>