<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="container mb-4" th:fragment="nav">
  <div class="d-flex justify-content-between align-items-center p-1 mb-3">
    <div>
      <a id="clubName" th:href="@{/club/main(clubId=${navDTO.clubId})}">
        <h1>
          [[${navDTO.clubName}]]
        </h1>
      </a>
      <h3>
        [[${navDTO.clubHeadline}]]
      </h3>
    </div>

    <div class="d-flex justify-content-end align-items-center">
      <a class="link btn btn-outline-dark"
         th:href="@{/club/leader/main(clubId=${navDTO.clubId})}"
         th:if="${navDTO.isLeader}">
        클럽 관리
      </a>
      <a class="link btn btn-outline-success"
         th:href="@{/club/nicknameForm(
      clubId=${navDTO.clubId},
      clubMemberId=${navDTO.clubMemberId})}"
         th:if="${navDTO.isMember}">
        닉네임 변경
      </a>
      <a class="link btn btn-outline-success"
         th:href="@{/club/register(clubId=${navDTO.clubId})}"
         th:if="${navDTO.isGuest}">
        가입 신청
      </a>
    </div>
  </div>

  <div class="mb-3" th:if="${navDTO.clubMemberId != null}">
    <div th:if="${navDTO.isWaiting}">가입처리중입니다.</div>
    <div th:if="${navDTO.isMember && !navDTO.isLeader}">반갑습니다. [[${navDTO.nickname}]]님!</div>
    <div th:if="${navDTO.isLeader}">반갑습니다. [[${navDTO.nickname}]] 클럽장님!</div>
  </div>

  <div class="mb-3">
    <ul class="nav nav-justified border-bottom mb-3 clubNav">
      <li class="nav-item">
        <a class="nav-link clubNavLink"
           th:href="@{/club/member(clubId=${navDTO.clubId})}">
          명단
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link clubNavLink"
           th:href="@{/club/greetings(clubId=${navDTO.clubId})}"
           th:if="${navDTO.isMember}">
          가입인사
        </a>
        <a class="nav-link clubNavLink" th:if="${!navDTO.isMember}">가입인사</a>
      </li>
      <li class="nav-item">
        <a class="nav-link clubNavLink"
           th:href="@{/club/meeting(clubId=${navDTO.clubId})}"
           th:if="${navDTO.isMember}">일정</a>
        <a class="nav-link clubNavLink" th:if="${!navDTO.isMember}">일정</a>
      </li>
      <li class="nav-item">
        <a class="nav-link clubNavLink"
           th:href="@{/club/board(clubId=${navDTO.clubId})}"
           th:if="${navDTO.isMember}">
          게시글
        </a>
        <a class="nav-link clubNavLink" th:if="${!navDTO.isMember}">게시글</a>
      </li>
    </ul>
  </div>

</div>

</html>