<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">
<th:block layout:fragment="content">
    <div style="margin: 90px auto; width: 620px; height: 520px; border: 1px solid lightgray;
                padding: 90px 130px; border-radius: 10px;">
        <div class="mb-3">
            <label class="form-label" style="color: #898989">스포츠는 함께 Swith Us</label>
            <p>소셜계정으로 간편 가입하기</p>
            <button></button>
        </div>

        <button style="width: 354px; height: 61px;" class="btn btn-primary rounded" onclick="location.href='/register/agree'">스윗어스 회원가입 하기</button>
    </div>
</th:block>
</html>