<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">
<th:block layout:fragment="content">
    <form style="width: 1080px; margin:0 auto; padding: 90px 0px;">
        <div style="margin: 0 auto; width: 700px; height: 520px; border: 1px solid lightgray;
                padding: 90px 130px; border-radius: 10px;">
            <div class="mb-4">
                <div style="padding-left: 84px">
                    <label for="exampleInputEmail1" class="form-label" style="color: #898989; font-weight: 550;">비밀번호 찾기</label>
                    <p style="font-size: 14px; color: #898989">아래의 항목들을 입력해주세요</p>
                </div>

                <div style="display: flex; justify-content: space-between; align-items: center">
                    <p>아이디</p>
                    <input style="background-color: #e2e6ea; width: 354px; height: 61px; border-radius: 10px" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="아이디를 입력해주세요.">
                </div>
            </div>

            <div class="mb-4">
                <div style="display: flex; justify-content: space-between; align-items: center">
                    <p>휴대전화</p>
                    <input style="background-color: #e2e6ea; width: 354px; height: 61px; border-radius: 10px" type="password" class="form-control" id="exampleInputPassword1" placeholder="휴대폰 번호를 입력해주세요">
                </div>
            </div>


            <div style="display: flex; justify-content: flex-end">
                <button style="background-color: #0D6EFF; width: 354px; height: 61px; border-radius: 10px;" type="submit" class="btn btn-primary">확인</button>
            </div>


        </div>


    </form>
</th:block>
</html>