<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/club/template/club :: setContent(~{this :: content})}">
  <div class="container" th:fragment="content">

    <div class="border-bottom mb-3">
      <div class="mb-3">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <div class="d-flex align-items-center">
            <h3>게시판</h3>
          </div>
          <div class="d-flex align-items-center">
            <a class="btn btn-primary shadow-sm" th:href="@{/club/postForm(clubId=${navDTO.clubId})}">
              게시글 작성
            </a>
          </div>
        </div>

        <form
            class="bg-light bg-gradient p-3 rounded"
            method="get"
            th:action="@{/club/board}"
        >
          <input name="clubId" th:value="${navDTO.clubId}" type="hidden">
          <input name="page" type="hidden" value="1"/>

          <div class="row">
            <div class="col-2 p-1">
              <label class="form-label" for="ctgrSelect">카테고리</label>
              <select class="form-select" id="ctgrSelect" name="ctgrId">
                <option th:selected="${selectedCtgrId == null}" value="">---</option>
                <option
                    th:each="ctgr : ${ctgrList}"
                    th:selected="${ctgr.id == selectedCtgrId}"
                    th:text="${ctgr.name}"
                    th:value="${ctgr.id}"
                ></option>
              </select>
            </div>
            <div class="col p-1">
              <label class="form-label" for="typeSelect">검색어</label>
              <div class="input-group">
                <select class="form-select" id="typeSelect" name="type">
                  <option th:selected="${selectedType == null}" value="">---</option>
                  <option th:selected="${selectedType == 't'}" value="t">
                    제목
                  </option>
                  <option th:selected="${selectedType == 'c'}" value="c">
                    내용
                  </option>
                  <option th:selected="${selectedType == 'w'}" value="w">
                    작성자
                  </option>
                  <option th:selected="${selectedType == 'tc'}" value="tc">
                    제목+내용
                  </option>
                  <option th:selected="${selectedType == 'tcw'}" value="tcw">
                    제목+내용+작성자
                  </option>
                </select>
                <input class="form-control" name="keyword"
                       style="width: 50%" th:value="${selectedKeyword}"
                       type="text"/>
              </div>
            </div>
            <div
                class="col-1 d-flex align-items-end justify-content-center p-1"
            >
              <button class="btn btn-success shadow-sm" type="submit">제출</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!--검색 결과를 보여주는 곳-->
    <div class="mb-3">
      <!--테이블-->
      <div class="mb-3">
        <table class="table table-striped table-hover">
          <thead class="table-light">
          <tr>
            <th scope="col">카테고리</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">조회수</th>
            <th scope="col">좋아요</th>
            <th scope="col">작성일</th>
          </tr>
          </thead>
          <tbody>
          <tr
              style="cursor: pointer;"
              th:each="dto : ${result.dtoList}"
              th:onclick="|location.href='@{/club/post(clubId=${navDTO.clubId}, postId=${dto.clubPostId})}'|"
          >
            <th scope="row">[[${dto.ctgrName}]]</th>
            <td>[[${dto.title}]] ([[${dto.replyCount}]])</td>
            <td>[[${dto.writerName}]]</td>
            <td>[[${dto.visitCount}]]</td>
            <td>[[${dto.likeCount}]]</td>
            <td>[[${dto.regDate}]]</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--페이지 번호-->
      <div>
        <ul class="pagination h-100 justify-content-center align-items-center">
          <li class="page-item" th:if="${result.prev}">
            <a class="page-link"
               th:href="@{/club/board(
               clubId=${navDTO.clubId},
               page = ${result.start - 1},
               ctgrId = ${selectedCtgrId},
               type = ${selectedType},
               keyword = ${selectedKeyword}
               )}">
              ‹
            </a>
          </li>

          <li th:class="'page-item ' + ${result.page == page ? 'active ' : ''}"
              th:each="page : ${result.pageList}">
            <a class="page-link"
               th:href="@{/club/board(
               clubId=${navDTO.clubId},
            page = ${page},
            ctgrId = ${selectedCtgrId},
            type = ${selectedType},
            keyword = ${selectedKeyword}
            )}">
              [[${page}]]
            </a>
          </li>

          <li class="page-item" th:if="${result.next}">
            <a class="page-link"
               th:href="@{/club/board(
               clubId=${navDTO.clubId},
            page = ${result.end + 1},
            ctgrId = ${selectedCtgrId},
            type = ${selectedType},
            keyword = ${selectedKeyword}
            )}">
              ›
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</th:block>
</html>