<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/club/template/club :: setContent(~{this :: content})}">
  <div class="container" th:fragment="content">

    <div class="border-bottom mb-3">
      <div class="mb-3">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <div class="d-flex align-items-center">
            <h3>게시판</h3>
          </div>
          <div class="d-flex align-items-center">
            <a class="btn btn-outline-success" href="/club/postForm">
              게시글 작성
            </a>
          </div>
        </div>

        <form
            action="/club/searchPost"
            class="bg-light bg-gradient p-3 rounded"
            method="get"
        >
          <input name="page" type="hidden" value="1"/>

          <div class="row">
            <div class="col-2 p-1">
              <label class="form-label" for="ctgrSelect">카테고리</label>
              <select class="form-select" id="ctgrSelect" name="ctgrId">
                <option th:selected="${selectedCtgrId == null}">---</option>
                <option
                    th:each="ctgr : ${ctgrList}"
                    th:selected="${ctgr.id == selectedCtgrId}"
                    th:text="${ctgr.name}"
                    th:value="${ctgr.id}"
                ></option>
              </select>
            </div>
            <div class="col p-1">
              <label class="form-label" for="typeSelect">검색어</label>
              <div class="input-group">
                <select class="form-select" id="typeSelect" name="type">
                  <option th:selected="${selectedType == null}">---</option>
                  <option th:selected="${selectedType == 't'}" value="t">
                    제목
                  </option>
                  <option th:selected="${selectedType == 'c'}" value="c">
                    내용
                  </option>
                  <option th:selected="${selectedType == 'w'}" value="w">
                    작성자
                  </option>
                  <option th:selected="${selectedType == 'tc'}" value="tc">
                    제목+내용
                  </option>
                  <option th:selected="${selectedType == 'tcw'}" value="tcw">
                    제목+내용+작성자
                  </option>
                </select>
                <input class="form-control" style="width: 50%" type="text"/>
              </div>
            </div>
            <div
                class="col-1 d-flex align-items-end justify-content-center p-1"
            >
              <button class="btn btn-primary" type="submit">제출</button>
            </div>
          </div>
        </form>
      </div>
    </div>



    <div>
      <ul class="pagination h-100 justify-content-center align-items-center">
        <li class="page-item">
          <a class="page-link">
            ‹
          </a>
        </li>

        <li>
          <a class="page-link">
            페이지 번호
          </a>
        </li>

        <li class="page-item">
          <a class="page-link">
            ›
          </a>
        </li>
      </ul>
    </div>

    <script th:inline="javascript">

    </script>
  </div>
</th:block>
</html>