<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/club/template/layout :: setContent(~{this :: content})}">
  <div class="container" th:fragment="content">

    <div class="mb-5 rounded p-4 shadow">
      <h3 class="mb-4">클럽 생성</h3>

      <form action="/club/createClub" enctype="multipart/form-data" id="clubForm" method="post">
        <input name="leaderId" required th:value="${session.userId}" type="hidden">
        <input name="rank" required th:value="0" type="hidden">
        <input name="point" required th:value="0" type="hidden">
        <div class="box"></div>

        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="selectRegion">지역 선택</label>
          <div class="col-sm-10">
            <select class="form-select" id="selectRegion" name="regionId" required>
              <option th:each="region : ${regionList}"
                      th:text="${region.name}"
                      th:value="${region.id}">
              </option>
            </select>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="selectSports">종목 선택</label>
          <div class="col-sm-10">
            <select class="form-select" id="selectSports" name="sportsId" required>
              <option th:each="sports : ${sportsList}"
                      th:text="${sports.name}"
                      th:value="${sports.id}">
              </option>
            </select>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="inputName">클럽명</label>
          <div class="col-sm-10">
            <input class="form-control" id="inputName" name="name" required type="text">
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="inputHeadline">헤드라인</label>
          <div class="col-sm-10">
            <input class="form-control" id="inputHeadline" name="headline" required type="text">
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="ckEditor">소개란</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="ckEditor" name="introduce" required type="text"></textarea>
          </div>
        </div>


        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="inputImage">이미지</label>
          <div class="col-sm-10 custom-file">
            <input class="custom-file-input files" id="inputImage" multiple type="file">
            <label class="custom-file-label" data-browse="Browse"></label>
          </div>
        </div>

        <div class="uploadResult mb-3">
          <ul>

          </ul>
        </div>

        <div>
          <button class="btn btn-primary submitBtn" type="submit">클럽 생성</button>
        </div>
      </form>
    </div>

    <script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/super-build/ckeditor.js"></script>
    <script th:src="@{/js/global/ckEditor.js}"></script>
    <script th:inline="javascript" th:src="@{/js/club/create.js}"></script>
  </div>
</th:block>

</html>
