<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/club/template/club :: setContent(~{this :: content})}">
  <div class="container" th:fragment="content">

    <div class="mb-4 d-flex justify-content-between align-items-center">
      <div>
        <h3>가입인사</h3>
      </div>
      <div th:if="${myGreetingsId == null}">
        <a class="btn btn-primary" th:href="@{/club/greetingsForm(clubId=${navDTO.clubId})}">
          가입인사 작성
        </a>
      </div>
      <div th:if="${myGreetingsId != null}">
        <form action="/club/greetings" method="get" >
          <input name="clubId" th:value="${navDTO.clubId}" type="hidden">
          <input name="userId" th:value="${session.userId}" type="hidden">
          <button class="btn btn-info" type="submit">
            나의 가입인사
          </button>
        </form>
      </div>
    </div>

    <div class="mb-3" th:if="${result != null}">
      <div class="card mb-2" th:each="dto, dtoStat : ${result.dtoList}">
        <div class="card-body">
          <div class="d-flex flex-column mb-3">
            <div>
              <h5 class="card-title">[[${dto.memberName}]]</h5>
              <p class="card-text">[[${dto.content}]]</p>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center ">
              <a>❤</a>
              <div>좋아요 [[${dto.likeCount}]]개</div>
            </div>
            <div th:if="${dto.greetingsId == myGreetingsId}">
              <a class="btn btn-secondary" th:href="@{/club/greetingsDetail(clubId=${navDTO.clubId})}">수정하기</a>
            </div>
          </div>
        </div>
      </div>

      <div>
        <ul class="pagination h-100 justify-content-center align-items-center">
          <li class="page-item" th:if="${result.prev}">
            <a class="page-link" th:href="@{/club/greetings(
            page = ${result.start - 1},
            clubId = ${navDTO.clubId}
            )}">
              ‹
            </a>
          </li>

          <li th:class="'page-item ' + ${result.page == page ? 'active' : ''}"
              th:each="page : ${result.pageList}">
            <a class="page-link" th:href="@{/club/greetings(
            page = ${page},
            clubId = ${navDTO.clubId}
            )}">
              [[${page}]]
            </a>
          </li>

          <li class="page-item" th:if="${result.next}">
            <a class="page-link" th:href="@{/club/greetings(
            page = ${result.end + 1},
            clubId = ${navDTO.clubId}
            )}">
              ›
            </a>
          </li>
        </ul>
      </div>
    </div>

    <script th:inline="javascript">

    </script>
  </div>
</th:block>
</html>