<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/club/template/layout :: setContent(~{this :: content})}">
  <div class="container" th:fragment="content">

    <div class="mb-3 rounded p-4 shadow">
      <h3 class="mb-3"
          th:text="${myContent == null ? '가입인사 작성' : '가입인사 수정'}"></h3>

      <form method="post"
            th:action="${myContent == null ? '/club/createGreetings' : '/club/updateGreetings'}">
        <input name="clubId" th:value="${navDTO.clubId}" type="hidden">
        <input name="greetingsId" th:if="${greetingsId != null}" th:value="${greetingsId}" type="hidden">

        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="inputContent">가입인사</label>
          <div class="col-sm-10">
            <input class="form-control"
                   id="inputContent"
                   name="content"
                   required
                   th:value="${myContent != null ? myContent : ''}"
                   type="text">
          </div>
        </div>

        <div>
          <button class="btn btn-success shadow-sm" type="submit">완료</button>
        </div>
      </form>
    </div>

  </div>
</th:block>

</html>
