<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/club/template/club :: setContent(~{this :: content})}">
  <div class="container" th:fragment="content">

    <div class="d-flex align-items-center justify-content-between mb-3">
      <div class="d-flex flex-row">
        <div class="d-flex align-items-center p-1">
          <h3>[[${meetingDTO.title}]]</h3>
        </div>
        <div class="d-flex p-1">
          <div class="">[[${meetingDTO.ctgrName}]]</div>
        </div>
        <div class="d-flex align-items-end p-1">
          <div th:if="${isAttended}">참가중</div>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <a class="btn btn-light border shadow-sm"
           th:href="@{/club/meetingForm(clubId=${navDTO.clubId},meetingId=${meetingDTO.meetingId})}"
           th:if="${navDTO.isLeader}">
          일정 수정
        </a>
        <a class="btn btn-primary"
           onclick="checkAttendees(event)"
           th:disabled="${meetingDTO.currentPersonnel ge meetingDTO.mPersonnel}"
           th:href="@{/club/attendMeeting(
         clubId=${navDTO.clubId},
         meetingId=${meetingDTO.meetingId},
         isAttended=${isAttended}
         )}"
           th:if="${!isAttended}"
        >참가</a>
        <a class="btn btn-primary" th:href="@{/club/attendMeeting(
         clubId=${navDTO.clubId},
         meetingId=${meetingDTO.meetingId},
         isAttended=${isAttended}
         )}"
           th:if="${isAttended}">참가 취소</a>
      </div>
    </div>

    <div class="row border-bottom mb-3">
      <div class="col d-flex flex-column">
        <div class="mb-3">
          일시 [[${#temporals.format(meetingDTO.mTime, 'M월 d일 a h시 m분')}]]
        </div>
        <div class="mb-3">
          장소 [[${meetingDTO.mPlace}]]
        </div>
        <div class="mb-3">
          인원 [[${meetingDTO.currentPersonnel}]]명 / [[${meetingDTO.mPersonnel}]]명
        </div>
        <div class="mb-3" th:utext="${meetingDTO.content}"></div>
      </div>

      <div class="col p-1 mb-3">
        <div id="map" style="width:100%; height:360px"></div>
      </div>
    </div>

    <div class="d-flex flex-column mb-3">
      <div class="mb-3">
        댓글 [[${meetingDTO.replyCount}]]개
      </div>

      <div class="mb-3">
        <button class="btn btn-outline-info addReplyBtn" type="button">
          댓글 등록
        </button>
      </div>

      <div class="list-group replyList">

      </div>
    </div>

    <!-- The Modal -->
    <div class="replyModal modal" role="dialog" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">
              댓글 작성
            </h4>
            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">
              <label for="replyInput">댓글</label>
              <input class="form-control" id="replyInput" name="comment" type="text">
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button class="btn btn-danger closeBtn" data-bs-dismiss="modal" type="button">Close</button>
            <button class="btn btn-primary saveBtn" type="button">저장</button>
            <button class="btn btn-warning modifyBtn" type="button">수정</button>
            <button class="btn btn-danger removeBtn" type="button">삭제</button>
          </div>
        </div>
      </div>
    </div>

    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=36e802b03704729000dddf8ec908f633&libraries=services"
            type="text/javascript"></script>
    <script th:inline="javascript">
      var mapContainer = document.getElementById("map"), // 지도를 표시할 div
        mapOption = {
          center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
          level: 3, // 지도의 확대 레벨
        };

      // 지도를 생성합니다
      var map = new kakao.maps.Map(mapContainer, mapOption);

      // 주소-좌표 변환 객체를 생성합니다
      var geocoder = new kakao.maps.services.Geocoder();

      // 주소로 좌표를 검색합니다
      geocoder.addressSearch([[${meetingDTO.mAddr}]], function (result, status) {
        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {
          var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

          // 결과값으로 받은 위치를 마커로 표시합니다
          var marker = new kakao.maps.Marker({
            map: map,
            position: coords,
          });

          // 인포윈도우로 장소에 대한 설명을 표시합니다
          var infowindow = new kakao.maps.InfoWindow({
            content:
              '<div style="width:150px;text-align:center;padding:6px 0;">모임 장소</div>',
          });
          infowindow.open(map, marker);

          // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
          map.setCenter(coords);
        } else {
          console.log("왜 안돼?");
        }
      });

      function checkAttendees(event) {
        let currentAttendees = [[${meetingDTO.currentPersonnel}]];
        let maxAttendees = [[${meetingDTO.mPersonnel}]];

        if (currentAttendees >= maxAttendees) {
          alert("인원이 전부 찼습니다.");
          event.preventDefault();
        }
      }
    </script>

    <script th:inline="javascript">
      $(function () {
        var replyModal = $(".replyModal");
        var meetingId = [[${meetingDTO.meetingId}]];
        var memberId = [[${navDTO.clubMemberId}]];
        var comment = $('input[name="comment"]');

        // 댓글 모달창 열기
        $(".addReplyBtn").click(function () {
          comment.val("");

          $(".removeBtn, .modifyBtn").hide();
          $(".saveBtn").show();

          replyModal.modal("show");
        });

        // 저장 버튼 클릭: C
        $(".saveBtn").click(function () {
          var data = {
            meetingId: meetingId,
            memberId: memberId,
            comment: comment.val(),
          };

          $.ajax({
            url: "/meetingReply/" + meetingId,
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (result) {
              self.location.reload();
            },
          });

          replyModal.modal("hide");
        });

        // 페이지가 열리는 즉시 댓글들 목록 출력: Read
        function getReplyList() {
          function formatTime(str) {
            var date = new Date(str);

            return (
              date.getFullYear() +
              "/" +
              (date.getMonth() + 1) +
              "/" +
              date.getDate() +
              " " +
              date.getHours() +
              ":" +
              date.getMinutes()
            );
          }

          $.getJSON("/meetingReply/" + meetingId + "/list", function (arr) {
            var str = "";
            $.each(arr, function (idx, replyDTO) {
              str +=
                ' <div class="card-body" data-reply-id=' +
                replyDTO.meetingReplyId +
                " data-member-id=" +
                replyDTO.memberId +
                ">";
              str += ' <h5 class="card-title">' + replyDTO.comment + "</h5>";
              str +=
                ' <h6 class="card-subtitle mb-2 text-muted">' +
                replyDTO.memberNickname +
                "</h6>";
              str += ' <p class="card-text">' + formatTime(replyDTO.regDate) + "</p>";
              str += " </div>";
            });

            $(".replyList").html(str);
          });
        }

        getReplyList();

        var replyId;
        var curMemberId;

        $(".replyList").on("click", ".card-body", function () {
          $(".saveBtn").hide();
          $(".removeBtn, .modifyBtn").show();

          var targetReply = $(this);
          replyId = targetReply.data("reply-id");
          curMemberId = targetReply.data("member-id");
          comment.val(
            targetReply.find(".card-title").clone().children().remove().end().text()
          );

          $(".replyModal").modal("show");
        });

        // 수정: U
        $(".modifyBtn").on("click", function () {
          var data = {
            meetingId: meetingId,
            memberId: curMemberId,
            comment: comment.val(),
          };

          $.ajax({
            url: "/meetingReply/" + meetingId + "/" + replyId,
            type: "PUT",
            data: JSON.stringify(data),
            contentType: "application/json; charset=UTF-8",
            dataType: "text",
            success: function (result) {
              self.location.reload();
            },
          });

          replyModal.modal("hide");
        });

        // 삭제: D
        $(".removeBtn").on("click", function () {
          $.ajax({
            url: "/meetingReply/" + meetingId + "/" + replyId,
            type: "DELETE",
            contentType: "application/json; charset=UTF-8",
            dataType: "text",
            success: function (result) {
              self.location.reload();
            },
          });

          replyModal.modal("hide");
        });
      });

      // closeBtn 클릭 시 모달 닫기
      $(".closeBtn").click(function() {
          $(".replyModal").modal("hide");
      });
    </script>
  </div>
</th:block>
</html>