<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/club/template/layout :: setContent(~{this :: content})}">
  <div class="container" th:fragment="content">

    <div class="p-4 rounded shadow mb-5">

      <div class="mb-4">
        <h3 th:if="${!isEditing}">일정 추가</h3>
        <h3 th:if="${isEditing}">일정 수정</h3>
      </div>

      <form method="post"
            th:action="${isEditing ? '/club/updateMeeting' : '/club/createMeeting'}">
        <input name="clubId" th:value="${navDTO.clubId}" type="hidden">
        <input name="meetingId" th:if="${isEditing}" th:value="${meetingDTO != null ? meetingDTO.meetingId : ''}"
               type="hidden">

        <div class="row mb-3">
          <div class="col-sm-6">
            <div class="mb-3">
              <label class="form-label" for="ctgrSelect">모임 종류 선택</label>
              <select class="form-select" id="ctgrSelect" name="ctgrId" required>
                <option th:each="ctgr : ${ctgrList}"
                        th:selected="${meetingDTO != null and meetingDTO.ctgrId == ctgr.id}"
                        th:text="${ctgr.name}"
                        th:value="${ctgr.id}"></option>
              </select>
            </div>

            <div class="mb-3">
              <label class="form-label" for="titleInput">모임명</label>
              <input class="form-control" id="titleInput" name="title" required
                     th:value="${meetingDTO != null ? meetingDTO.title : ''}"
                     type="text">
            </div>

            <div class="mb-3">
              <label class="form-label" for="mTimeInput">모임 일시</label>
              <input class="form-control" id="mTimeInput" name="mTime"
                     required type="datetime-local">
            </div>

            <div class="mb-3">
              <label class="form-label" for="mPersonnelInput">인원</label>
              <input class="form-control" id="mPersonnelInput"
                     name="mPersonnel"
                     required th:value="${meetingDTO != null ? meetingDTO.mPersonnel : ''}" type="number">
            </div>
          </div>

          <div class="col-sm-6 p-1">
            <div id="map" style="height:360px; display:none;"></div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-sm-6">
            <div class="mb-2">
              <label class="form-label" for="mAddrInput">주소</label>
              <input class="form-control" id="mAddrInput" name="mAddr"
                     required
                     th:value="${meetingDTO != null ? meetingDTO.mAddr : ''}" type="text">
            </div>
            <button class="btn btn-outline-dark" onclick="findPost()" type="button">주소 검색</button>
          </div>
          <div class="col-sm-6">
            <label class="form-label" for="mPlaceInput">장소</label>
            <input class="form-control" id="mPlaceInput" name="mPlace"
                   required
                   th:value="${meetingDTO != null ? meetingDTO.mPlace : ''}" type="text">
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="ckEditor">설명</label>
          <textarea class="form-control" id="ckEditor"
                    name="content"
                    th:value="${meetingDTO != null ? meetingDTO.content : ''}"></textarea>
        </div>

        <div>
          <button class="btn btn-primary" type="submit">완료</button>
        </div>
      </form>

    </div>
    <!--ck 에디터용-->
    <script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/super-build/ckeditor.js"></script>
    <script th:src="@{/js/global/ckEditor.js}"></script>
    <!--지도 검색용-->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=36e802b03704729000dddf8ec908f633&libraries=services"></script>

    <script th:inline="javascript">
      var mapContainer = document.getElementById("map"), // 지도를 표시할 div
        mapOption = {
          center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
          level: 5, // 지도의 확대 레벨
        };

      //지도를 미리 생성
      var map = new daum.maps.Map(mapContainer, mapOption);
      //주소-좌표 변환 객체를 생성
      var geocoder = new daum.maps.services.Geocoder();
      //마커를 미리 생성
      var marker = new daum.maps.Marker({
        position: new daum.maps.LatLng(37.537187, 127.005476),
        map: map,
      });

      function findPost() {
        new daum.Postcode({
          oncomplete: function (data) {
            var addr = data.address; // 최종 주소 변수
            var addrName = data.buildingName;

            // 주소 정보를 해당 필드에 넣는다.
            document.getElementById("mAddrInput").value = addr;
            document.getElementById("mPlaceInput").value = addrName;

            // 주소로 상세 정보를 검색
            geocoder.addressSearch(data.address, function (results, status) {
              // 정상적으로 검색이 완료됐으면
              if (status === daum.maps.services.Status.OK) {
                var result = results[0]; //첫번째 결과의 값을 활용

                // 해당 주소에 대한 좌표를 받아서
                var coords = new daum.maps.LatLng(result.y, result.x);
                // 지도를 보여준다.
                mapContainer.style.display = "block";
                map.relayout();
                // 지도 중심을 변경한다.
                map.setCenter(coords);
                // 마커를 결과값으로 받은 위치로 옮긴다.
                marker.setPosition(coords);
              }
            });
          },
        }).open();
      }
    </script>

    <script th:inline="javascript">
      function getNow() {
        const koreaOffset = 9 * 60 * 60000; // 한국 표준시(UTC+9) 오프셋

        const koreaTime = new Date((new Date()).getTime() + koreaOffset + 60 * 60000);

        return koreaTime.toISOString().slice(0, 16);
      }

      const mTimeInputElement = document.getElementById('mTimeInput');
      mTimeInputElement.min = getNow();
      mTimeInputElement.value = getNow();
    </script>
  </div>
</th:block>
</html>