<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/club/template/club :: setContent(~{this :: content})}">
  <div class="container" th:fragment="content">

    <div class="mb-3 border-bottom">
      <div class="mb-4">
        <h3>클럽 회원</h3>
      </div>
    </div>

    <div class="mb-3" th:if="${result != null}">
      <div class="mb-3">
        <div class="p-1" th:each="dto, dtoStat : ${result.dtoList}">
          <div class="d-flex flex-row align-items-center rounded border shadow-sm p-3">
            <div>
              <div class="d-flex justify-content-center align-items-center rounded-circle overflow-hidden border me-3"
                   style="width: 100px; height: 100px;">
                유저 이미지
              </div>
            </div>

            <div class="d-flex flex-column">
              <div class="fw-bold mb-2">
                이름: [[${dto.memberName}]]
              </div>

              <div class="d-flex flex-row">
                <div>
                  <div class="me-3">
                    <span th:if="${dto.rank == 0}">가입대기</span>
                    <span th:if="${dto.rank == 1}">정회원</span>
                    <span th:if="${dto.rank == 100}">클럽장</span>
                  </div>
                </div>

                <div>
                  <div>
                    가입일:
                    <span th:text="${#temporals.format(dto.regDate, 'yy/M/d')}"></span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div>
        <ul class="pagination h-100 justify-content-center align-items-center">

          <li class="page-item" th:if="${result.prev}">
            <a class="page-link" th:href="@{/club/member(
            page = ${result.start - 1},
            clubId = ${navDTO.clubId}
            )}">
              ‹
            </a>
          </li>

          <li th:class="'page-item ' + ${result.page == page ? 'active' : ''}"
              th:each="page : ${result.pageList}">
            <a class="page-link" th:href="@{/club/member(
            page = ${page},
            clubId = ${navDTO.clubId}
            )}">
              [[${page}]]
            </a>
          </li>

          <li class="page-item" th:if="${result.next}">
            <a class="page-link" th:href="@{/club/member(
            page = ${result.end + 1},
            clubId = ${navDTO.clubId}
            )}">
              ›
            </a>
          </li>

        </ul>
      </div>
    </div>

  </div>
</th:block>
</html>