<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="container mb-3" th:fragment="nav">
  <div class="row mb-3 align-items-center">
    <div class="col"><h1><a class="link" href="/club/main">클럽명 넣기</a></h1></div>
    <div class="col"><a class="link" href="#">1대1 문의</a></div>
  </div>

  <ul class="nav nav-justified">
    <li class="nav-item">
      <a class="nav-link" href="#">가입인사</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">명단</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">달력</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">일정</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">게시글</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">사진첩</a>
    </li>
  </ul>
</div>

</html>