<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/club/template/club :: setContent(~{this :: content})}">
  <div class="container" th:fragment="content">

    <div class="mb-3 border-bottom">
      <div class="mb-3">
        <h3>대기 명단</h3>
      </div>
    </div>
    <div class="mb-3" th:if="${waitingList == null}">
      대기자가 없습니다.
    </div>
    <div class="mb-3" th:if="${waitingList != null}">
      <div th:each="dto : ${waitingList}">
        <div class="d-flex flex-row align-items-center rounded border shadow-sm p-3">
          <div class="d-flex flex-column">
            <div class="fw-bold mb-2">
              이름: [[${dto.memberName}]]
            </div>

            <div class="d-flex flex-row">
              <div>
                <div class="me-3">
                  <span th:if="${dto.rank == 0}">가입대기</span>
                </div>
              </div>

              <div>
                <div>
                  가입요청일:
                  <span th:text="${#temporals.format(dto.regDate, 'yy/M/d')}"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex align-items-center">
            <a class="btn btn-success shadow-sm"
               th:href="@{/club/welcome(clubId=${navDTO.clubId}, clubMemberId=${dto.clubMemberId})}">
              가입 수락
            </a>
            <a class="btn btn-warn shadow-sm"
               th:href="@{/club/deny(clubId=${navDTO.clubId}, clubMemberId=${dto.clubMemberId})}">
              가입 거절
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</th:block>
</html>