@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

html {
	height: 100%;
}

main {
    flex: 1;
    /*padding: 50px;*/
    padding-top: 10px;
}

p {
    margin: 0;
}

#content {
    width: 1080px;
    height: 900px;
    display: grid;
    grid-template-rows: 150px 650px 100px;
    place-items: center;
    margin: 0 auto 30px auto;
}

#pro_title {
    width: 980px;
    height: 150px;
    background: #F2F0F0;
}

#title_css {
    width: 980px;
    height: 150px;
    text-align: center;
}

#title_css p {
    font-size: 25pt;
    font-weight: bold;
    padding-top: 50px;
}

#pro_middle{
    width: 980px;
    height: 650px;
    display: grid;
    grid-template-rows: 100px 550px;
    place-items: center;
}

#padding {
    width: 900px;
    height: 100px;
    padding-top: 70px;
    padding-left: 10px;
    border-bottom: 1px solid #cdcdcd;
}

#padding p {
    font-size: 12pt;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

#info_table{
    width: 900px;
    height: 500px;
}

.table_info {
    width: 900px;
    height: 500px;
    text-align: center;
    border-top: 1px solid #B0B0B0;
    border-bottom: 1px solid #B0B0B0;
    border-left: none;
    border-right: none;

}

.table_tr1 {
    height: 50px;
    border-bottom: 1px solid #D1D1D1;
}

.table_tr2 {
    height: 50px;
    border-bottom: 1px solid #D1D1D1;
}

.table_tr3 {
    height: 290px;
    border-bottom: 1px solid #D1D1D1;
}

.table_tr4 {
    height: 50px;
}

.table_q {
    width: 120px;
    font-size: 11pt;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

td:nth-child(odd) {
    background-color: #ecf8ff;
}

.table_a {
    font-size: 9pt;
    font-weight: bold;
    color: #242424;
    text-align: left;
    padding-left: 15px;
}

.table td {
    vertical-align: middle;
    border-top: 1px solid #D1D1D1;
}

#buttons {
   width: 900px;
   display: grid;
   grid-template-columns: 680px 100px 120px;
   place-items: center;
}

.info_btn {
    font-size: 10pt;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    width: 80px;
    height: 28px;
}


#btn_padding {
    padding-left: 570px;
}

.modal-dialog {
    width: 990px;
    height: 500px;
    max-width: 990px;
    max-height: 500px;
}

.modal-header {
    background-color: #F5F5F5;
}

.modal-title {
    font-family: 'Inter', sans-serif;
    font-size: 16pt;
    font-weight: bold;
}


.form-group {
    padding-left: 50px;
}

.pro_body {
    width: 700px;
    display: grid;
    grid-template-rows: 100px 250px;
}

.btn {
    font-weight: bold;
}

.pro_title {
    width: 700px;
    display: grid;
    grid-template-columns: 50px 650px;
    place-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.pro_title_input {
    width: 600px;
    border: 1px solid black;
    padding: 0;
    padding-left: 10px;
    font-size: 12pt;
    font-weight: bold;
}


.content_label_padding {
    padding-bottom: 200px;
}
.pro_content {
    width: 700px;
    display: grid;
    grid-template-columns: 50px 650px;
    place-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.enter{
    white-space: pre-wrap;
}



.pro_content_input {
    width: 600px;
    height: 250px;
    border: 1px solid black;
    padding-left: 10px;
    font-size: 15pt;
    font-weight: bold;
    color: #495057;
}

textarea {
    resize: none;
    border-radius: .25rem;
}

.btn-primary {
    width: 100px;
}

